@use "../util" as *;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--dark-blue);
}
.search,
main {
  padding-left: rem(18);
  padding-right: rem(18);
}

@include breakpoint(large) {
  .wrapper {
    display: flex;
    &-main {
      padding-top: rem(57);
    }
  }
  .search,
  main {
    padding-left: rem(36);
    padding-right: rem(36);
  }
}
