@use "../util" as *;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--dark-blue);
}

main {
  padding-left: rem(16);
  padding-right: rem(16);
}

.card-grid + h2 {
  margin-top: rem(24);
}

@include breakpoint(medium) {
  main,
  .header-wrap {
    padding-left: rem(25);
    padding-right: rem(25);
  }
  .header-wrap {
    padding-top: rem(25);
  }

  .card-grid + h2 {
    margin-top: rem(48);
  }
}

@include breakpoint(large) {
  .wrapper {
    display: flex;
    &-main {
      padding-top: rem(57);
    }
  }
  main,
  .header-wrap {
    padding-left: rem(36);
    padding-right: rem(36);
  }

  .header-wrap {
    padding-right: 0;
    padding-top: rem(36);
  }
}

.disable-header {
  .header-wrap {
    display: none;
  }
  .wrapper-main {
    padding-top: 0;
    width: 100%;
    max-width: rem(400);
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  main {
    padding-left: rem(24) !important;
    padding-right: rem(24) !important;
  }
}
