@use "../util" as *;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--dark-blue);
}
.search,
main {
  padding-left: rem(16);
  padding-right: rem(16);
}

@include breakpoint(medium) {
  .search,
  main,
  .header-wrap {
    padding-left: rem(25);
    padding-right: rem(25);
  }
  .header-wrap {
    padding-top: rem(25);
  }
}

@include breakpoint(large) {
  .wrapper {
    display: flex;
    &-main {
      padding-top: rem(57);
    }
  }
  .search,
  main,
  .header-wrap {
    padding-left: rem(36);
    padding-right: rem(36);
  }

  .header-wrap {
    padding-right: 0;
    padding-top: rem(36);
  }
}
