@use "../util" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.1;
  font-size: rem(18);
  color: var(--white);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 500;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: var(--font-body);
  font-size: rem(13);
  line-height: 1.4;
  font-weight: 300;
  color: var(--white);
}

@include breakpoint(medium) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(24);
  }
  body {
    font-size: rem(15);
  }
}

@include breakpoint(large) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(32);
  }
}
