@use "../util" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  line-height: 1.25;
  font-size: rem(20);
  color: var(--white);
  letter-spacing: rem(-0.31);
  margin-block-end: rem(24);
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 300;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body,
::placeholder {
  font-family: var(--font-body);
  font-size: rem(13);
  line-height: 1.4;
  font-weight: 300;
  color: var(--white);
}

::placeholder {
  opacity: 0.5;
  font-size: rem(16);
}

@include breakpoint(medium) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(32);
  }
  body {
    font-size: rem(15);
  }
  ::placeholder {
    opacity: 0.5;
    font-size: rem(24);
  }
}

@include breakpoint(large) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: rem(32);
  }
}
